Package: linux-assistant
Version: 
Depends: libkeybinder-3.0-0, wmctrl, wget, python3, mesa-utils
Maintainer: Jean28518
Architecture: amd64
Hompage: https://www.linux-assistant.org/
Section: Utils
Description: Daily Linux Helper with integrated search
