# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: sudo apt-get update -y
      - run: sudo apt-get install -y ninja-build libgtk-3-dev libkeybinder-3.0-0 libkeybinder-3.0-dev rpm
      - run: flutter config --enable-linux-desktop
      - run: flutter build linux
      - run: cp -r additional build/linux/x64/release/bundle/
      - run: chmod +x build/linux/x64/release/bundle/linux_assistant
      - name: Upload bundle
        uses: actions/upload-artifact@v1
        with:
          name: linux-assistant-bundle
          path: build/linux/x64/release/bundle/
      - run: bash build-deb.sh
      - name: Upload deb
        uses: actions/upload-artifact@v1
        with:
          name: linux-assistant-deb
          path: linux-assistant.deb
      - run: bash build-rpm.sh
      - name: Upload rpm
        uses: actions/upload-artifact@v1
        with:
          name: linux-assistant-rpm
          path: ~/rpmbuild/RPMS/

